<div id="<%= dom_id booking %>">
  <p>
    <strong>Facility:</strong>
    <%= booking.facility_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= booking.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= booking.end_time %>
  </p>

</div>